/* CSS Targets only Internet Explorer 8 */

body {
    max-width:100%;
    min-width: 960px;
    margin: 0px;
    padding: 0px;
}

/* Petrocore Reports page */
.table-header-action {
    height: auto;
}

.table-header-action .button {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* -------- Header Menu IE8 Fixes ------- */

.lt-ie9 .top-bar ul li a {
	color: white;
	display: block;
	font-weight:normal;
	font-size: 13px;
	height: 50px;	
	line-height: 50px;	
	padding-top: 1px;	
	padding-right: 0px;	
	padding-left: 0px;			
}

.lt-ie9 .top-bar ul li a.button {
	height: auto;
	line-height: 30px;
	margin-top: 7px;
}

.lt-ie9 .top-bar ul li a img {
	margin-top: -5px;
	vertical-align: middle;
}

.lt-ie9 .top-bar ul > li a:hover, .lt-ie9 .top-bar ul > li a:focus, .lt-ie9 .top-bar ul > li a:active {
	color: #d9d9d9;
}

.lt-ie9 .top-bar ul li.has-dropdown {
	padding-right: 24px;
}

.lt-ie9 .top-bar .username {
	font-size:14px; 
	font-weight: bold;
}

/* Fixes IE checkboxes in Steps Reports section display incorrectly when resizing */
#progress-indicator {
	min-width: 745px;
}

#step1, #step2, #step3, #step4 {
	border-right:solid 1px #717171;	
	padding-left: 0px;
	padding-right: 0px;
}

/* Footer */
.petrocore-footer {
	height:auto; 
}

.trademark {
	width: auto;
	height:auto;
}

.feedback {
	float:right;
}

/* It fixes the x closing button on a modal pop-up window in IE8 */
#myModal h5 {
    display:inline-block;
}

.reveal-modal .close-reveal-modal {
    color:#666666;   
    font-weight:normal;
    cursor: pointer;
    float:right;
    top:11px;
}
	
/* It fixes the misalignment of the dropdown arrow box */
form.custom div.custom.dropdown a.selector {
	width:30px;
	height:30px !important;			
	border: solid #5b5b5b 1px;
}

form.custom div.custom.dropdown a.selector:after{
	border-color:#676767 transparent transparent transparent;	
	margin-top:-2px;
	margin-left:-5px;	
}

form.custom.search-type div.custom.dropdown a.selector {
	width:30px;
	height:30px;
	border: 1px solid #717171;		
}

form.custom.search-type div.custom.dropdown a.selector:after{	
	border-color:#676767 transparent transparent transparent;		
	margin-top:-2px;
	margin-left:-5px;
}

/* It adds bottom space to legend tags */
fieldset legend {
	margin-bottom: 10px;
}

/* It preserves size of horizontal filters */
.added-filter {
	min-width:204px;
}

.footer-logo {
	margin-bottom:6px;
}

/* Avanced Search Results */
.glowing {
   border:solid 3px #b8d4e6;
}

#search_type_drop {
	padding-bottom:28px;
}

/* Notification clickable overlay */
#overlay {	
    background: #000;
    filter: alpha(opacity=1);
}

/***** Report Templates  ******/
.button.dropdown.split.petrocore-actions > span {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ababab',GradientType=0 ); /* IE8 */	
}

.button.dropdown.split.petrocore-actions > a { /* Left area of the Button on hover */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ababab',GradientType=0 ); /* IE8 */	
}

.button.dropdown.split.petrocore-actions > span:hover,
.button.dropdown.split.petrocore-actions > span:focus,
.button.dropdown.split.petrocore-actions > span:active { /* Arrow down button */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#d6d6d6',GradientType=0 ); /* IE8 */	
}