.row {
	/*width: 1260px;*/
	width:100%;
}

.columns {
	padding:0px;
}

.top-bar {
	margin: 0 0 0px 0;
}

/*[class*="column"] + [class*="column"]:last-child {
	float:none;
}*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	font-family: Verdana,"Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar {
	/*background: #48779f;
	background: -moz-linear-gradient(top,  #48779f 0%, #487da4 46%, #8fb1c3 91%, #769ebf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48779f), color-stop(46%,#487da4), color-stop(91%,#8fb1c3), color-stop(100%,#769ebf));
	background: -webkit-linear-gradient(top,  #48779f 0%,#487da4 46%,#8fb1c3 91%,#769ebf 100%);
	background: -o-linear-gradient(top,  #48779f 0%,#487da4 46%,#8fb1c3 91%,#769ebf 100%);
	background: -ms-linear-gradient(top,  #48779f 0%,#487da4 46%,#8fb1c3 91%,#769ebf 100%);
	background: linear-gradient(to bottom,  #48779f 0%,#487da4 46%,#8fb1c3 91%,#769ebf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48779f', endColorstr='#769ebf',GradientType=0 );*/
	background-image: url("../images/header-bg.png");
	height: 86px;
}

.logo {
	height:66px;
	width:288px;
	float:left;
	margin-top:8px;
	background-image: url("../images/logo.png");
}

.profile-container {
	height:50px;
	width:410px;
	float:right;
	margin-top:18px;
}

.avatar {
	height:50px;
	width:50px;
	float:left;
	margin-right: 7px;
	background-color: white;
	border: 1px solid #27435a;
}

.top-nav {
	height:50px;
	width:410px;
}

.top-nav-links {
	margin:0px 8px 0px 8px;
	color:#fff;
}

.top-bar ul > li {
	height: 50px;
	line-height: 50px;
	font-size: 12px;
}

.top-bar ul > li a:not(.button) {
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	padding: 0px;
}

.top-bar ul > li a:not(.button).username {
	font-size:14px;
	font-weight: bold;
	color:#fff;
}

.bar {
	color:#fff;
	margin-top:14px;
}

.top-bar ul {
	height: 50px;
	display: block;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus {
	background:none;
}

.top-bar ul > li:not(.name):hover a.username, .top-bar ul > li:not(.name).active a.username, .top-bar ul > li:not(.name):focus a.username {
	color:#d9d9d9;
}

/*.toggle-nav-tablet {
	width:48px;
	height:44px;
	background-image: url("../images/toggle-nav-bgrd.png");
	float:left;
	border-right: 1px solid #717172;
}

.toggle-btn {
	height:26px;
	width:36px;
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-image: url("../images/toggle-btn.png");
}

.toggle-btn:active{
	height:26px;
	width:36px;
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-image: url("../images/toggle-btn-active.png");
}*/




/*-------- TOGGLE BUTTON FOR IPAD PORTRAIT *ONLY* --------*/

@media only screen and (width: 768px) {
.breadcrumbs-container {
	padding:0px;
}

.breadcrumbs-list-container {
	float:left;
	height: 43px;
	width:90%;
	padding-top: 3px;
}




.toggle-nav-mobile {
display:none;
}

.toggle-nav-tablet {
	width:48px;
	height:42px;
	background-image: url("../images/toggle-nav-bgrd.png");
	float:left;
	border-right: 1px solid #717172;
}

.toggle-btn {
	height:26px;
	width:36px;
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-image: url("../images/toggle-btn.png");
}

.toggle-btn:active{
	height:26px;
	width:36px;
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-image: url("../images/toggle-btn-active.png");
}
}
/*-------- TOGGLE BUTTON FOR IPAD PORTRAIT *ONLY* --------*/


@media only screen and (max-width: 1920px) and (min-width: 768px) {
	.dropdown-profile {
		display:none;
	}
}

@media only screen and (max-width: 960px) {
	.top-bar ul > li {
		float: left;
	}
}

@media only screen and (max-width: 767px) {
	.top-bar {
		height:44px;
		background-image: url("../images/header-bg-phone.png");
	}

	.logo {
		height:38px;
		width:194px;
		margin-top:3px;
		background-image: url("../images/logo-phone.png");
		display:block;
		margin-left: auto;
		margin-right: auto;
		float:none;
	}

	.profile-container {
		float:right;
		height:30px;
		width:50px;
		margin-top:-34px;
	}

	.avatar {
		height:30px;
		width:30px;
		float:left;
		margin-right: 7px;
		background-color: white;
		border: 1px solid #27435a;
	}

	.top-nav{
		display: none;
	}

	.dropdown-profile {
		margin-top:-10px;
		cursor: pointer;
	}

	.toggle-nav-mobile {
		width:48px;
		height:44px;
		background-image: url("../images/toggle-nav-bgrd.png");
		float:left;
		border-right: 1px solid #717172;
	}

	.toggle-btn {
		height:26px;
		width:36px;
		margin-top: 9px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		background-image: url("../images/toggle-btn.png");
	}

	.toggle-btn:active{
		height:26px;
		width:36px;
		margin-top: 9px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		background-image: url("../images/toggle-btn-active.png");
	}
}



/*-------- CHEVRON STYLES --------*/


.top-bar-chevron {
	height: 120px;
	margin: 0 0 10px 0;
	padding: 0;
	width: 100%;
	position: relative;
	border-top: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
	margin-bottom: -1px;
}

.logo-grey-chevron {
	height:66px;
	width:288px;
	float:left;
	margin-top:8px;
	background-image: url("../images/logo-grey.png");
}

.top-nav-chevron {
	height:20px;
	width:400px;
	margin-left:12px;
	margin-top: 9px;
	margin-bottom: 12px;
}

.top-bar-chevron ul > li {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.top-bar-chevron ul > li {
	float: left;
}

.top-bar-chevron ul {
	height: 20px;
	display: block;
	margin-left: 0;
	display: inline;
	height: 45px;
	line-height: 45px;
	list-style: none;
}

.top-bar-chevron ul > li a:not(.button) {
	color: #333333;
	display: block;
	font-size: 12px;
	font-weight: normal;
	height: 50px;
	line-height: 20px;
	padding: 0px;
}

.top-bar-chevron ul > li a:not(.button).username {
	font-size:13px;
	font-weight: bold;
	color:#333333;
}

.top-bar-chevron .bar {
	color:#dddddd;
	margin-top:-2px;
}

.profile-container-chevron {
	height:62px;
	width:56px;
	float:right;
	margin-top:3px;
	margin-right: 20px;
}

.avatar-chevron {
	height:62px;
	width:56px;
	float:left;
	margin-right: 20px;
	background-image: url("../images/chevron-logo.png");
}

.top-bar-chevron ul > li a:not(.button):hover {
	color:#009dd9;
}

.top-bar-chevron ul > li:not(.name):hover a.username, .top-bar-chevron ul > li:not(.name).active a.username, .top-bar-chevron ul > li:not(.name):focus a.username {
	color:#009dd9;
}


@media only screen and (max-width: 1920px) and (min-width: 768px) {
	.dropdown-profile-chevron {
		display:none;
	}
}

@media only screen and (max-width: 767px) {
	.top-bar-chevron {
		height:45px;
		background-image: url("../images/header-bg-phone.png");
		border-top: none;
		border-bottom: none;
	}

	.top-nav-chevron {
		display:none;
	}


	.logo-grey-chevron {
		height:40px;
		width:194px;
		margin-top:0px;
		background-image: url("../images/logo-phone-chevron.png");
		display:block;
		margin-left: auto;
		margin-right: auto;
		float:none;
	}

	.avatar-chevron {
		height:34px;
		width:34px;
		background-image: url("../images/chevron-logo-small.png");
		margin-top: -1px;
		margin-right: 4px;
		float:left;
	}

	.profile-container-chevron {
		float: right;
		height: 30px;
		width: 53px;
		margin-top: -34px;
		margin-right: 0px;
	}

	.dropdown-profile-chevron {
		margin-top:7px;
		cursor: pointer;
	}
}

/*-------- SEARCH STYLES --------*/

.left-split-container {
	height:auto;
	background-color:greenyellow;
}

.search-container {
	height:44px;
	background: #c0c0c0;
	background: -moz-linear-gradient(top,  #c0c0c0 0%, #a1a1a1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#a1a1a1));
	background: -webkit-linear-gradient(top,  #c0c0c0 0%,#a1a1a1 100%);
	background: -o-linear-gradient(top,  #c0c0c0 0%,#a1a1a1 100%);
	background: -ms-linear-gradient(top,  #c0c0c0 0%,#a1a1a1 100%);
	background: linear-gradient(to bottom,  #c0c0c0 0%,#a1a1a1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#a1a1a1',GradientType=0 );
	-moz-box-shadow: inset 0px 1px 1px #d1d1d1;
		-webkit-box-shadow: inset 0px 1px 1px #d1d1d1;
			box-shadow: inset 0px 1px 1px #d1d1d1;
	border-top:1px solid #717171;
	border-right:1px solid #717171;
	border-bottom:1px solid #717171;
	}

.left-nav-container {
	height:500px;
	background-color:#c2c2c2;
	border-right: 1px solid #717171;
}

.breadcrumbs-container {
	height:44px;
	background: #eaeaea;
	background: -moz-linear-gradient(top,  #eaeaea 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #eaeaea 0%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #eaeaea 0%,#dddddd 100%);
	background: linear-gradient(to bottom,  #eaeaea 0%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#dddddd',GradientType=0 );
	moz-box-shadow: inset 0px 1px 1px #f5f5f5;
		-webkit-box-shadow: inset 0px 1px 1px #f5f5f5;
			box-shadow: inset 0px 1px 1px #f5f5f5;
	border-top:1px solid #717171;
	border-bottom:1px solid #717171;
	padding: 3px 10px 0px 10px;
}

.content-container {
	height:500px;
	background-color:white;
}

@media only screen and (width: 768px) {
.breadcrumbs-container {
	padding:0px;
}
}

/*-------- PETROCORE FOOTER STYLES --------*/

.petrocore-footer {
	height:44px;
	background-color:#f3f3f3;
	border-top:1px solid #8a8a8a;
	border-bottom:1px solid #8a8a8a;
}

.footer-logo {
	height:30px;
	width:180px;
/*	background-image: url("../images/logo-footer.png");
*/	background-repeat:no-repeat;
	margin-top:6px;
	margin-left:16px;
}


.footer-logo-ipad {
	display: none;
}

.footer-logo-iphone {
	display: none;
}

.trademark {
	margin-top:13px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.trademark p{
	color:#939393;
	font-size: 11px;
	margin-bottom: 5px;
}

.feedback {
	margin-top:13px;
	margin-right:15px;
	float:right;
}

.feedback a{
	color:#939393;
	font-size: 11px;
}

.feedback a:hover{
	color:#6f6f6f;
}

@media only screen and (max-width: 960px) {
	.footer-logo-iphone {
		display: none;
	}

	.trademark {
		margin-top:4px;
		margin-left: auto;
		margin-right: auto;
		width: 325px;
		text-align:center;
}
}

@media only screen and (max-width: 767px) {
	.left-split-container {
		display: none;
	}

	.breadcrumbs-container {
		display: none;
	}

	.petrocore-footer {
		height:auto;
		background-color:#f3f3f3;
		border-top:1px solid #8a8a8a;
		border-bottom:1px solid #8a8a8a;
	}	

	.footer-logo {
		display:none;
	}

	.footer-logo-iphone {
		height:30px;
		width:180px;
		background-repeat:no-repeat;
		margin-top:6px;
		margin-left:16px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:5px;
	}

	.trademark {
		margin-top:4px;
		margin-left: auto;
		margin-right: auto;
		width: 325px;
		text-align:center;
	}

	.feedback {
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 140px;
		text-align: center;
		float:none;
		margin-bottom:10px;
	}
}
/*-------- PETROCORE FOOTER STYLES --------*/

/*-------- CHEVRON FOOTER STYLES --------*/

/*.chevron-footer {
	height:107px;
	background-color:white;
	border-top:1px solid #8a8a8a;
	border-bottom:1px solid #8a8a8a;
	padding: 0px 20px 0px 20px;
}

.update {
	margin-top: 40px;
	background-color: pink;
}

.update p {
	color: #333333;
	font-size: 11px;
	margin-bottom: 5px;
}

.chevron-corp {
	margin-top: 40px;
	background-color: yellowgreen;
}

.chevron-corp p {
	color: #333333;
	font-size: 11px;
	margin-bottom: 0px;
}

.confidential {
	margin-top: 40px;
	background-color: aquamarine;
}

.confidential p {
	color: #333333;
	font-size: 11px;
	margin-bottom: 0px;
}

.opco {
	margin-top: 40px;
	background-color: orange;
}

.opco p {
	color: #333333;
	font-size: 11px;
	margin-bottom: 0px;
}

.opco a {
	color: #009dd9;
	font-size: 11px;
	margin-bottom: 0px;
}

.opco a:hover {
	text-decoration: underline;
}

.content-contact {
	margin-top:0px;
	width: 300px;
	background-color: yellowgreen;
	float:left;
}

.content-contact p{
	color:#939393;
	font-size: 11px;
	margin-bottom: 5px;
}

.technical-contact {
	margin-top:0px;
	width: 300px;
	background-color: pink;
	float:left;
}

.technical-contact p{
	color:#939393;
	font-size: 11px;
	margin-bottom: 5px;
}

.chevron-footer-hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 8px 0 8px;
	height: 0;
}*/




/*-------- CHEVRON FOOTER STYLES --------*/

.chevron-footer {
	height:115px;
	background-color:white;
	border-top:1px solid #8a8a8a;
	border-bottom:1px solid #8a8a8a;
	padding: 0px 20px 0px 20px;
}

.chevron-footer-hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 8px 0 8px;
	height: 0;
}

.footer-top {
	width:auto;
	height:13px;
	float: left;
	margin-top: 40px;
	margin-bottom: 8px;
}

.footer-top ul {
	list-style-type: none;
}

.footer-top li {
	float:left;
	margin-right: 30px;
	color:#939393;
	font-size: 11px;
}

.footer-top li a {
	color: #009dd9;
}

.footer-top li a:hover{
	text-decoration: underline;
}

.footer-bottom {
	width:auto;
	height:20px;
	float:left;
	margin-top:-5px;
}

.footer-bottom ul {
	list-style-type: none;
}

.footer-bottom li {
	float:left;
	margin-right: 30px;
	color:#939393;
	font-size: 11px;
}

.footer-bottom li a {
	color: #009dd9;
}

.footer-bottom li a:hover{
	text-decoration: underline;
}

@media only screen and (max-width: 767px) {
	.chevron-footer {
		height:130px;
	}

	.footer-top {
		height: auto;
		margin-top:5px;
	}

	.footer-top ul {
		height:50px;
	}

	.footer-top li {
		float:none;
	}	

	.footer-bottom li {
		float:none;
	}	
}





.row.collapse.search-input {
	margin-top:5px;
	padding: 0px 10px 0px 10px;
	height: 32px;
}

.advanced-search {
	left:-1px;
	background-color: red;
}

span.prefix {
	background: #afafaf; /* Old browsers */
	background: -moz-linear-gradient(top,  #afafaf 0%, #898989 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(100%,#898989)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #afafaf 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #afafaf 0%,#898989 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #afafaf 0%,#898989 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #afafaf 0%,#898989 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#898989',GradientType=0 ); /* IE6-9 */
	border: 1px solid #5b5b5b;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-box-shadow: 0px 1px #c5c5c5;
	-webkit-box-shadow: 0px 1px #c5c5c5;
	box-shadow: 0px 1px #c5c5c5;
}

span.postfix {
	background: #afafaf; /* Old browsers */
	background: -moz-linear-gradient(top,  #afafaf 0%, #898989 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(100%,#898989)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #afafaf 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #afafaf 0%,#898989 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #afafaf 0%,#898989 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #afafaf 0%,#898989 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#898989',GradientType=0 ); /* IE6-9 */
	border: 1px solid #5b5b5b;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-box-shadow: 0px 1px #c5c5c5;
	-webkit-box-shadow: 0px 1px #c5c5c5;
	box-shadow: 0px 1px #c5c5c5;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"],
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
	border: 1px solid #5b5b5b;
	-moz-box-shadow: 0px 1px #c5c5c5;
	-webkit-box-shadow: 0px 1px #c5c5c5;
	box-shadow: 0px 1px #c5c5c5;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus, 
input[type="datetime"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="time"]:focus, 
input[type="url"]:focus, 
textarea:focus {
	-moz-box-shadow: inset 0 0 7px 0px #8fb1ce, 0px 1px #c5c5c5;
	-webkit-box-shadow: inset 0 0 7px 0px #8fb1ce, 0px 1px #c5c5c5;
	box-shadow: inset 0 0 7px 0px #8fb1ce, 0px 1px #c5c5c5;
	border: 1px solid #5b5b5b;
}

*:focus {
    outline: none;
}

.search-bar-icons-loupe {
	color: #5b5b5b;
	margin-top:-1px;
	margin-left: 3px;
	text-shadow: 0px 1px #ccc;
	font-size:16px;
}

.search-bar-icons-loupe p {
	font-size: 16px;
}

.search-bar-icons-dropdown {
	color: #5b5b5b;
	margin-top:-3px;
	margin-left:-3px;
	text-shadow: 0px 1px #ccc;
}

.search-bar-icons-dropdown p {
	font-size: 16px;
}

/*span.prefix, span.postfix {
	width: 30px;
}*/
/*
.search-container-form {
	width:100%;
	background-color: red;
	height: 42px;
	display: block;
	padding: 4px 8px 4px 8px;
}

.search-input {
	width:100%;
	height:32px;
	padding-left: 10px;
	padding-top: 5px;
	background-color: orange;
	margin-left:auto;
	margin-right:auto;
	display:block;
	position: relative;
	float:left;
}


.loupe {
float: left;
height: 32px;
width: 32px;
position: relative;
display: block;
}

.advanced {
float: left;
height: 32px;
width: 32px;
position: relative;
display: block;
}


.hellow-input {
float: left;
height: 32px;
width: 80%;
position: relative;
display: block;
}*/


/******BREADCRUMBS*******/
.breadcrumbs {
	height:30px;
	width:100%;
	padding:20px;
}

ul.breadcrumbs {
	background: none;
	border:none;
}

ul.breadcrumbs li:before {
    content: "\f101"; 
    font-family: FontAwesome;
    color: #aaa;
	font-size: 12px;
}

ul.breadcrumbs li a, ul.breadcrumbs li span {
	text-transform: none;
	font-size: 12px;
	padding-left: 12px;
	color:#767676;
}

ul.breadcrumbs li.current a {
	color:#525252;
}

ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus {
	text-decoration: none;
	color:#525252;
}

.breadcrumbs-home.icon- {
	font-size: 18px;
	line-height: 24px;
}

/******BUTTONS*******/

.button-gallery {
	padding: 20px;
}

.button.radius.primary {
	background: #2f94ce
}

.button.radius.primary:hover {
	background: #1a7eb7;
}

.button.radius.secondary {
	background: #dddddd;
	border:1px solid #aaaaaa;
}

.button.radius.secondary:hover {
	background: #cccccc;
}

.button.radius.success {
	background: #59a02e;
	border:1px solid #347c09;
}

.button.radius.success:hover {
	background: #47891f;
}

.button.radius.alert {
	background: #e72828;
	border:1px solid #ab0404;
}

.button.radius.alert:hover {
	background: #d12525;
}

@media only screen and (max-width: 767px) {
	.button {
		margin-bottom: 10px;
	}
}

.modal-button-container {
	padding: 20px;
}

.modal-header {
	height:50px;
	width:520px;
	clear: both;
	margin-left: -30px;
	margin-top: -44px;
	padding-top: 2px;
	padding-left: 15px;
	padding-right: 15px;
	background: #c0c0c0;
	background: -moz-linear-gradient(top,  #c0c0c0 0%, #a1a1a1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#a1a1a1));
	background: -webkit-linear-gradient(top,  #c0c0c0 0%,#a1a1a1 100%);
	background: -o-linear-gradient(top,  #c0c0c0 0%,#a1a1a1 100%);
	background: -ms-linear-gradient(top,  #c0c0c0 0%,#a1a1a1 100%);
	background: linear-gradient(to bottom,  #c0c0c0 0%,#a1a1a1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#a1a1a1',GradientType=0 );
	-moz-box-shadow: inset 0px 1px 1px #d1d1d1;
	-webkit-box-shadow: inset 0px 1px 1px #d1d1d1;
	box-shadow: inset 0px 1px 1px #d1d1d1;
	border-bottom:1px solid #717171;
}



.reveal-modal>:first-child {
	margin-top: -44px;
	margin-bottom: 10px;
}

.reveal-modal .close-reveal-modal:not(.button) {
	color:#666666;
	line-height: 6px;
	text-shadow: 0px 1px #ccc;
}

.reveal-modal .close-reveal-modal:not(.button):hover {
	color:#575757;
}
