/* CSS Targets only Internet Explorer 8 */

body {
    max-width:100%;
    min-width: 940px;
    margin: 0px;
    padding: 0px;
}

/* Petrocore Reports page */
.table-header-action {
    height: auto;
}

.table-header-action .button {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Footer */
.petrocore-footer {
	height:auto; 
}

.trademark {
	width: auto;
	height:auto;
}

.feedback {
	float:right;
}

/* The following code fixes the x closing button on a modal pop-up window in IE8 */

#myModal h5 {
    display:inline-block;
}

.reveal-modal .close-reveal-modal {
    color:#666666;   
    font-weight:bold;
    font-size:1.6em;
    cursor: pointer;
    float:right;
    position:relative;
    top:11px;
}


/* It fixes the misalignment of the dropdown arrow box */
form.custom div.custom.dropdown a.selector {
	right:1px;
	top:1px;	
}

/* It adds bottom space to legend tags */
fieldset legend {
	margin-bottom: 10px;
}


/* Fixes IE checkboxes in Steps Reports section display incorrectly when resizing */
#step1, #step2, #step3, #step4 {
	width:auto; /* Keeps elements within its div */
/*	min-width:317px;  */
	min-width:248px;
	border-right:solid 1px #717171;	
}





