body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	font-family: Verdana,"Helvetica", Helvetica, Arial, sans-serif;
}

body {
	margin-top: 20px;
}

.login-top, 
.login-header, 
.login-content, 
.login-info, 
.login-footer {
	margin: 0 auto;
	width: 350px;
}

.login-row {
	clear: both;
	overflow: hidden;
	padding: 0 15px;
	width: 350px;
}

.login-row .columns {
	padding: 0;
}

.login-two {
	width: 53px !important;
}

.login-ten {
	width: 267px !important;
}

img.login_logo {
	margin-bottom: 25px;
}

.page-login h2 {
	background-color: #ddd;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
	font-size: 13px;
	margin: 0 0 0 2px;
	padding: 11px 5px;
	text-align: center;
}

span.prefix {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-width: 1px 0 0 1px;
	/*-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);*/
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
	color: #bbb;
	height: 41px;
	line-height: 41px;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-width: 1px 1px 0 0;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
	font-size: 12px;
	margin: 0;
	padding: 20px 12px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	outline: none;
}

.login-info-content input[type="text"], 
.login-info-content input[type="password"], 
.login-info-content input[type="date"], 
.login-info-content input[type="datetime"], 
.login-info-content input[type="email"], 
.login-info-content input[type="number"], 
.login-info-content input[type="search"], 
.login-info-content input[type="tel"], 
.login-info-content input[type="time"], 
.login-info-content input[type="url"], 
.login-info-content textarea {
	border-width: 1px;
}

.end-border {
	border-top: 1px solid #ddd;
	height: 1px;
	margin: 0 0 15px 2px;
}

.login-button {
	display: block;
}

p.centered {
	margin: 12px 0;
	text-align: center;
}

.forgot_pw_link {
	color: #999;
	font-size: 13px;
}

.faded {
	color: #ccc;
	font-size: 12px;
}

.login-info-content {
	border: 1px solid #ccc;
	margin: 0 0 20px 2px;
	padding: 10px 15px;
}

.login-info-content p {
	font-size: 12px;
}

.or_label {
	background-color: #fff;
	color: #666;
	font-weight: bold;
	margin: -25px auto 8px;
	position: relative;
	text-align: center;
	width: 30px;
}

/******BUTTONS*******/

.button-gallery {
	padding: 20px;
}

.button.radius.primary {
	background: #2f94ce
}

.button.radius.primary:hover {
	background: #1a7eb7;
}

.button.radius.secondary {
	background: #dddddd;
	border:1px solid #aaaaaa;
}

.button.radius.secondary:hover {
	background: #cccccc;
}

.button.radius.success {
	background: #59a02e;
	border:1px solid #347c09;
}

.button.radius.success:hover {
	background: #47891f;
}

.button.radius.alert {
	background: #e72828;
	border:1px solid #ab0404;
}

.button.radius.alert:hover {
	background: #d12525;
}

@media only screen and (max-width: 767px) {

	.column, .columns {
		float: left !important;
	}

	.login-top, 
	.login-header, 
	.login-content, 
	.login-info, 
	.login-footer {
		margin: 0 auto;
		width: auto;
	}

	.login-row {
		margin: 0 auto;
	    padding: 0;
	    width: 280px;
	}

	.login-ten {
	    width: 227px !important;
	}

}