input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
	height: 54px;
}

span.prefix {
	height: 54px;
	line-height: 54px;
}


/* It fixes the misalignment of the dropdown arrow box */
form.custom div.custom.dropdown a.selector {
	right:1px;
	top:1px;	
}

