body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	font-family: Verdana,"Helvetica", Helvetica, Arial, sans-serif;
}

body {
	margin-top: 20px;
}

.login-top, 
.login-header, 
.login-content, 
.login-footer {
	margin: 0 auto;
	width: 350px;
}

.login-row {
	clear: both;
	overflow: hidden;
	padding: 0 15px;
	width: 350px;
}

.login-row .columns {
	padding: 0;
}

.login-two {
	width: 53px !important;
}

.login-ten {
	width: 267px !important;
}

img.login_logo {
	height: 70px;
	margin-bottom: 25px;
	max-width: inherit;
	width: 350px;
}

.page-login h2 {
	background-color: #ddd;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
	margin: 0 15px 0 17px;
	font-size: 13px;
	text-align: center;
	padding: 11px 5px;
}

span.prefix {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-width: 1px 0 0 1px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: #bbb;
	height: 41px;
	line-height: 41px;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-width: 1px 1px 0 0;
	font-size: 12px;
	margin: 0;
	padding: 20px 12px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	outline: none;
}

.end-border {
	border-top: 1px solid #ddd;
	height: 1px;
	margin: 0 0 15px 2px;
}

.login-button {
	display: block;
}

p.centered {
	margin: 12px 0;
	text-align: center;
}

.forgot_pw_link {
	color: #999;
	font-size: 13px;
}

.faded {
	color: #ccc;
	font-size: 12px;
}

@media only screen and (max-width: 767px) {

	.column, .columns {
		float: left !important;
	}

}